// REGISTER

.register { 
   margin-top: 5rem;
    width: 400px;
    padding: 3rem;
    border: 1px dotted gray;
    border-radius: 5px;
   
}



// LOGIN

.login {
    margin-top: 5rem;
    width: 400px;
    padding: 3rem;
    border: 1px dotted gray;
    border-radius: 5px;
}